* {
				 
				color: #665544;
				text-align: center;
	font-family: 'UniqueRegular'; 
                font-weight: normal; 
                font-style: normal;
        color: black;}
			body {
				width: 90%;
				margin: 0 auto;
                background-color: tan;
}

		div {
				overflow: auto;}
nav, section, footer {
				margin: 1%;
}

footer p {
    color: black;
}

			article {
				width: 31.3%;
				float: left;
				margin: 1%;
				margin-right: 0%;
                 }

			li {
				display: inline;
				padding: 0.5em;}
			nav, footer {
				background-color: cyan;
				padding: 0.5em 0;}
			section, article {
				height: 10em;
				margin-bottom: 1em;
				background-color: gray;}
h3, h4, p {
  text-align: left;
  color: white;}

.column1, .column2, .column3 {
      background-color: gray;
}

input {color:black;}
